:root {
  --main-bg-color: #fbfbfb;
  --header-bg-color: #93ab79;
  --main-text-color: #502828;
  --secondary-text-color: var(--header-bg-color);
  --profile-section-border-color: var(--header-bg-color);
  --utility-section-border-color: var(--main-text-color);
}

* {
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: column;
  background-color: var(--main-bg-color);
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: var(--main-text-color);
  font-family: "Raleway", Verdana, sans-serif;
  font-weight: normal;
  font-size: 18px;
  line-height: 1.5;
}

.container {
  max-width: 1480px;
  min-height: 50px;
  padding: 0 20px;
  margin: 0 auto;
}

/* HEADER */

.header {
  background-color: var(--header-bg-color);
}

.nav-list {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
}

.nav-list li + li {
  margin-left: 25px;
}

.nav-link {
  position: relative;
  color: #ffffff;
  text-decoration: none;
  font-weight: 300;
  line-height: 50px;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 100%;
  height: 2px;
  background-color: #fff;
  opacity: 0;
  transition: 0.7s;
}

.nav-link:hover::after {
  opacity: 1;
  animation-name: border-to-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

/* HEADER END */

/* MAIN */
.main-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.section {
  width: calc(50% - 20px);
  padding: 10px;
  padding-bottom: 35px;
  border-bottom: 1px solid var(--main-text-color);
}

.section-item {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  padding-left: 35px;
  position: relative;
}
/* MAIN END */

/* SECTION PROFILE */
.section-profile {
  display: flex;
  justify-content: space-around;
  width: 100%;
  padding: 50px 30px 35px;
  border-bottom: 15px solid var(--profile-section-border-color);
}
.profile-logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  object-fit: cover;
  box-shadow: 0 1px 4px rgb(0 0 0 / 60%);
  filter: grayscale(0.2) brightness(1.05);
  transition: 0.3s;
}

.profile-logo:hover {
  filter: none;
}

.profile-title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

.profile-main-title {
  position: relative;
  margin-bottom: 20px;
  font-size: 2em;
  font-weight: 300;
  letter-spacing: 5px;
}

.profile-main-title::after {
  content: "";
  position: absolute;
  bottom: -20px;
  left: 50%;
  margin-left: -75px;
  width: 150px;
  height: 2px;
  background-color: var(--profile-section-border-color);
}

.profile-main-title,
.profile-subtitle {
  line-height: 50px;
}

.profile-subtitle {
  margin-top: 20px;
  font-weight: 300;
  letter-spacing: 2px;
}

/* SECTION PROFILE END */

/* SECTION CONTACTS */
.section-list {
  padding: 0;
  margin: 0;
  list-style: none;
}

.section-title {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 5px;
  text-transform: uppercase;
  color: var(--secondary-text-color);
}

.section-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 24px;
  height: 24px;
  background-size: contain;
  background-repeat: no-repeat;
}

.icon--map-marker::before {
  top: -1px;
  background-image: url(./assets/svg/map-marker-icon.svg);
}
.icon--email::before {
  top: -1px;
  background-image: url(./assets/svg/email-icon.svg);
}
.icon--github::before {
  top: -1px;
  background-image: url(./assets/svg/github-icon.svg);
}
.icon--telegram::before {
  top: -1px;
  background-image: url(./assets/svg/telegram-icon.svg);
}
.icon--discord::before {
  top: -1px;
  background-image: url(./assets/svg/discord-icon.svg);
}

.contacts-item a {
  text-decoration: none;
  color: var(--secondary-text-color);
  transition: color 0.3s;
}
.contacts-item a:hover {
  color: var(--main-text-color);
}
/* SECTION CONTACTS END */

/* ANIMATION */

@keyframes border-to-right {
  from {
    width: 0;
  }
  to {
    width: 100%;
  }
}

/* ANIMATION END */

/* MEDIA QUERIES */
@media (max-width: 768px) {
  .section {
    width: calc(100% - 20px);
  }
}
/* MEDIA QUERIES END */
